body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
}

nav{
    font-weight: bold;
}
.logo-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


