body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
}

nav{
    font-weight: bold;
}
.logo-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}



#searchButton-el{
    display: none;
}

#search-el{
    border-radius: 20px;
    padding-left: 20;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
}

input#search-el:hover + button#searchButton-el{
    display:inline;
}
input#search-el:focus + button#searchButton-el{
    display:inline;
}
input#search-el:active + button#searchButton-el{
    display:inline;
}
#searchButton-el:active{
    display: inline;
}